<template id="template-content-card">
  <style media="screen">
    .contentcard {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
    }
    img {
      z-index: 5;
      object-fit: cover;
      width: inherit;
      height: inherit;
    }
    .field {
      font-weight: bold;
      background-color: rgba(255,255,255,.5);
      padding: .3em;
      z-index: 10;
    }
    .title {
      position: absolute;
      bottom: 3em;
      left: 20%;
      transform: translate(-50%, -50%);
    }
    .left {
      position: absolute;
      left: 1em;
      top: 50%;
      transform: rotate(90deg);
    }
    .right {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: rotate(270deg);
    }
    .top {
      position: absolute;
      top: 1em;
      left: 50%;
    }
    .bottom {
      position: absolute;
      bottom: 1em;
      left: 50%;
    }
  </style>
  <div class="contentcard">
    <img src="" class="img-fluid">
    <div class="title field" contenteditable="true"></div>
    <div class="left field" contenteditable="true"></div>
    <div class="right field" contenteditable="true"></div>
    <div class="top field" contenteditable="true"></div>
    <div class="bottom field" contenteditable="true"></div>
  </div>
</template>
